<header>
    <div class="left">
        <span (click)="backHome()">Sirne</span>
    </div>
    <div class="center">
        <span>Aluno: {{ student.name }}</span>
    </div>
    <div class="right">
        @if (studentForm.dirty) {
            <button mat-flat-button (click)="confirm(studentForm)" [disabled]="studentForm.invalid">
                <span>Confirma Alteração</span>
                <mat-icon iconPositionEnd fontIcon="check" />
            </button>
        }
    </div>
</header>

<main>
    <h3>Dados do Estudante</h3>
    <form #studentForm="ngForm" (ngSubmit)="confirm(studentForm)">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="student.name" name="name" required type="text">
        </mat-form-field>
        
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Sala</mat-label>
                <input matInput [(ngModel)]="student.room" name="room" required type="number">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Curso</mat-label>
                <input matInput [(ngModel)]="student.course.name" name="course" class="course" required type="text">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Turno</mat-label>
                <mat-select [(ngModel)]="student.shift" name="shift" required>
                    <mat-option value="matutino">Matutino</mat-option>
                    <mat-option value="vespertino">Vespertino</mat-option>
                    <mat-option value="noturno">Noturno</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

    <h3>Notas do Estudante</h3>
    <form #studentGrades="ngForm">
        
    </form>
</main>