h2 {
    text-align: center;
}

mat-dialog-content {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;

        mat-slide-toggle {
            margin-bottom: 22px;
        }
    }
}