<div class="container-login">
    <h3>Bem-vindo à Experiência Sirne! 🚀</h3>

    <mat-form-field appearance="outline">
        <mat-label>Hash</mat-label>
        <input matInput [(ngModel)]="auth.siu" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="password" type="text">
    </mat-form-field>

    <div class="container-button">
        <button mat-flat-button (click)="login()">
            <span>Acessar</span>
            <mat-icon iconPositionEnd fontIcon="arrow_forward_ios" aria-hidden="true"/>
        </button>
    </div>
</div>