header {
    width: 100%;
    height: 52px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);

    .left {
        span {
            font-weight: 600;
            font-size: 18px;
        }
    }

    .center {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .search {
            border: 1px solid var(--gray);
            border-radius: 4px;
            font-size: 14px;
            width: 280px;
            padding: 4px 8px;
        }
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 18px;

        .menu {
            margin-right: 20px;
        }
    }
}

nav {
    margin: 10px;
    display: none;
}

main {
    margin-top: 20px;
    width: 100%;

    .container-thumbnails {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;

        .container-thumbnail {
            display: flex;
            width: 100%;

            .thumbnail {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 10px;
                justify-content: space-between;
                margin-bottom: 5px;
                border-radius: 4px 0 0 4px;
                border: 1px solid var(--gray);
                border-right: none;
                cursor: pointer;
                background-color: #fafafa;
                transition: .2s;
                gap: 15px;

                .left {
                    display: flex;
                    gap: 10px;
                    
                    .assessment {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        
                        mat-icon {
                            color: goldenrod;
                        }
                    }
                    
                    .title {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }

            .thumbnail:hover {
                background-color: #f1f1f1;
            }

            .actions {
                margin-bottom: 10px;
                background-color: #dddddd;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 5px;
                border-radius: 0 4px 4px 0;
                border: 1px solid var(--gray);
                border-left: none;
                cursor: pointer;
                transition: .2s;
                gap: 15px;
            }

        }

        .empty-search {
            width: 100%;
            text-align: center;
        }
    }

    .btn-add-post {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width: 1000px) {
    nav {
        display: flex;
    }

    header {
        .right {
            app-nav-bar {
                display: none;
            }
        }

        .center {
            .search {
                width: 160px;
            }
        }
    }
}