<h2 mat-dialog-title>Configurações</h2>
<mat-dialog-content>
    <div class="contianer-credit">
        <h3>Créditos</h3>
        <a target="_blank" href="https://www.instagram.com/davi_barbosa3009">Davi Barbosa</a>
        <a target="_blank" href="https://www.instagram.com/eierickdasilva">Érick da Silva</a>
        <a target="_blank" href="https://www.instagram.com/gustavolima_sem_o_t">Gustavo Lima</a>
        <a target="_blank" href="https://www.instagram.com/iagomenezes37">Iago Menezes</a>
        <a target="_blank" href="https://www.instagram.com/kiammota">Kiam Mota</a>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close()">Ok</button>
</mat-dialog-actions>